table{
    width:100%;
}

th.mat-sort-header-sorted {
    color: black;
  }


.select_row:hover{
    background-color: lightblue;
    cursor: pointer;
}

.noPick > .mat-cell{
    background-color: lightgrey;
    color: grey !important;
}

.noPick:hover{
    background-color: lightgrey;
}

