<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<!-- <button mat-raised-button (click)="show()">Persons</button> -->
<!-- 
<div *ngIf = "clicked">
  <app-persons *ngFor = "let person of persons" [person] = "person"></app-persons>
  <button mat-raised-button (click)="close()">Close</button>
</div> -->

<app-dialog-mod [subject]="personsSubject"></app-dialog-mod>
<app-dialog-mod [subject]="positionsSubject"></app-dialog-mod>



